# For f500 dataset - Read and Print

In [ ]:
import pandas as pd
import numpy as np
df=pd.read_csv("f500.csv")
print(df.shape)

# For f500 dataset - Datatypes

In [ ]:
import pandas as pd
df=pd.read_csv('f500.csv')
df1=df.dtypes
print(df1)

# For f500 dataset - Describe

In [ ]:
import numpy as np
import pandas as pd

df=pd.read_csv("f500.csv")
s=df.describe().profit
print(s)

# Count of Flower

In [ ]:
import numpy as np
import pandas as pd

df=pd.read_csv("f500.csv")
s=df.describe().profit
print(s)

# Iris Virginica

In [ ]:
## Print the required output in given format
import pandas as pd   
df=pd.read_csv('https://files.codingninjas.in/iris-8116.csv?_ga=2.147866740.234039453.1659624921-456271772.1655977586')

df = df[(df.variety == 'Iris-virginica') & (df['petal.length']>1.5)]
for i in df.values:
    print(i[0],i[1],i[2],i[3],i[4])

# For f500 dataset - Top 5

In [ ]:
import pandas as pd
df = pd.read_csv('f500.csv')
print(df["country"].value_counts()[0:5])

# For f500 dataset - Selected Rows and Columns

In [ ]:
import pandas as pd
df=pd.read_csv("f500.csv",index_col=False)

print(df.iloc[0:5,0:3])

# Iris Values

In [ ]:
## Open and read data file as specified in the question
## Print the required output in given format
import pandas as pd   
data_file=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data',header=None)
data_file.columns = ['sl', 'sw', 'pl', 'pw', 'flower_type']

for n in ['Iris-setosa','Iris-versicolor','Iris-virginica']:
    file=data_file[data_file.flower_type==n]
    data=file.describe()
    data.loc['avg']=[sum(file.sl)/50.0,sum(file.sw)/50.0,sum(file.pl)/50.0,sum(file.pw)/50.0]
    
    for i in ['min','max','avg']:
        for j in ['sl','sw','pl','pw']:
            print('%.2f'%data[j][i],end=" ")
        print(n)

# Select the rows with NaN values

In [ ]:
import numpy as np
import pandas as pd

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data, index=labels)
print(len(df[df["age"].isna()]))